body {
  margin: 10px;
}

a {
}

td {
  padding:2px 3px;
}

text {
  font: 10px arial;
}

.nav-tabs {
position: fixed;
z-index: 99;
background: #FFF;
margin-top: -10px;
padding-top: 10px;
width: 100%;
}

.tab-content {
padding-top: 50px;
}
.row {margin-right:0;}
.graphics {
width:770px; position:fixed; margin:0 15px;
}
.grids{
padding-left:795px;
}
.block {
border: 1px solid #eee;
border-radius: 4px;
margin-bottom: 8px;
}
.block label { padding: 5px 8px; margin:0; border-top-left-radius:3px; border-top-right-radius:3px; }
.block table { margin: 0; }
.icon-col { width:30px; text-align:right;}
.container-fluid { padding:0; }
#bubble-body {
width: 770px;
overflow: hidden;
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.node {cursor:default;}
.filter-toggler{cursor:pointer; display:block;}
.fa {cursor:pointer;}
