<div class="container-fluid">
<div class="row">
  <div class="graphics">
    <div id="operations">
      <div class="btn-group"
           data-toggle="buttons"
           style="float:right; margin-left:10px;">
        <label class="btn btn-primary active" ng-click="set_op_mode('drilldown')">
          <input type="radio" name="op-mode" class="op-mode"> Drilldown
        </label>
        <label class="btn btn-primary" ng-click="set_op_mode('blacklist')">
          <input type="radio" name="op-mode" class="op-mode"> Blacklist
        </label>
        <label class="btn btn-primary" ng-click="set_op_mode('whitelist')">
          <input type="radio" name="op-mode" class="op-mode"> Whitelist
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons" style="float:right;">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="option1" checked> ID Off
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2"> On
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" ng-click="set_chart_type('popularity')">
          <input type="radio" name="options" id="option1" checked> Popularity
        </label>
        <label class="btn btn-primary" ng-click="set_chart_type('demand')">
          <input type="radio" name="options" id="option2"> Demand
        </label>
      </div>
    </div>
    <div id="bubble-body"></div>
  </div>
  <div class="grids">
    <div class="block">
      <label class="f-blacklist filter-toggler">Blacklist &nbsp;<i class="fa fa-caret-right"></i></label>
      <table class="table" style="display:none;">
        <tr><th class="icon-col"></th><th>Item Id</th><th>Name</th></tr>
        <tr>
          <td class="icon-col"><i class="fa fa-remove"></i></td>
          <td>Item Id</td>
          <td>Name</td>
        </tr>
      </table>
    </div>
    <div class="block">
      <label class="f-whitelist filter-toggler">Whitelist &nbsp;<i class="fa fa-caret-right"></i></label>
      <table class="table" style="display:none;">
        <tr><th class="icon-col"></th><th>Item Id</th><th>Name</th></tr>
        <tr>
          <td class="icon-col"><i class="fa fa-remove"></i></td>
          <td>Item Id</td>
          <td>Name</td>
        </tr>
      </table>
    </div>
    <div class="block">
      <label class="filter-toggler">Advanced Filters &nbsp;<i class="fa fa-caret-right"></i></label>
      <table class="table" style="display:none;">
        <tr><th class="icon-col"></th><th>Filter</th><th></th></tr>
        <tr>
          <td class="icon-col"><i class="fa fa-reply"></i></td>
          <td>Demand Range</td>
          <td></td>
        </tr>
        <tr>
          <td class="icon-col"><i class="fa fa-reply"></i></td>
          <td>Popularity Range</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div id="grid-body" class="block">
      <label>Data</label>
      <table class="table fixed-header" style="
        position: fixed;
        top: 51px;
        display: none;
        background: #fff;
      ">
        <tr>
          <th>Name/Sku</th>
          <th width="80" class="demand">Demand</th>
          <th width="80" class="popularity">Popularity</th>
          <th width="80">Stock</th></tr>
      </table>
      <table class="table data-body">
        <tr>
          <th>Name/Sku</th>
          <th width="80" class="demand">Demand</th>
          <th width="80" class="popularity">Popularity</th>
          <th width="80">Stock</th>
        </tr>
      </table>
      <table class="table" ng-repeat="r in predict.data.results track by $index">
        <tr style="cursor:pointer;" ng-click="toggle_chart($event, r.num_iid);">
          <td>{%r.title%}</td>
          <td width="80">{%r.demand%}</td>
          <td width="80">{%r.popularity%}</td>
          <td width="80">{%r.stock%}</td>
        </tr>
        <tr style="display:none;">
          <td colspan="4" class="chart-container" height="230">Loading...</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
