on mouseover display num_iid and title display full name
<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <div>Blacklist
      <table class="table">
        <tr><th>Item Id</th><th>Name</th><th></th></tr>
        <tr>
          <td>Item Id</td>
          <td>Name</td>
          <td><i class="fa fa-remove"></i></td>
        </tr>
      </table>
    </div>
    <div>Whitelist
      <table class="table">
        <tr><th>Item Id</th><th>Name</th><th></th></tr>
        <tr>
          <td>Item Id</td>
          <td>Name</td>
          <td><i class="fa fa-remove"></i></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <div id="operations">
      <div>Bubble View</div>
      <div><a href="#" data-toggle="tooltip" title="Tooltip on top">tooltip</a></div>
      <div><a href="#" ng-click="setChartType('popularity')">Popularity Perspective 频次观察</a></div>
      <div><a href="#" ng-click="setChartType('demand')">Demand Perspective 数量观察</a></div>
      <div>ID on/off</div>
      <div>enable blacklist mode (double click on circle)</div>
      <div>enable whitelist mode (click on circle)</div>
    </div>
    <div id="bubble-body"></div>
  </div>
  <div class="col-md-3">
    <div>condition 1</div>
    <div>condition 2</div>
    <div>condition 3</div>
    <div id="grid-body">Data
      <table class="table">
        <tr><th>Name/Sku</th><th class="demand">Demand</th><th class="popularity">Popularity</th><th>Stock</th></tr>
        <tr ng-repeat="r in predict.data.results track by $index">
          <td>{%r.title%}</td>
          <td>{%r.demand%}</td>
          <td>{%r.popularity%}</td>
          <td>{%r.stock%}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
