<div>
  <table>
    <tr><td></td><td><button ng-click="import_trades(1);">Import Page 1</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(2);">Import Page 2</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(3);">Import Page 3</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(4);">Import Page 4</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(5);">Import Page 5</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(6);">Import Page 6</button></td></tr>
    <tr><td></td><td><button ng-click="import_trades(7);">Import Page 7</button></td></tr>
  </table>
</div>
